@import "../../../styles/variables.module";

.container {
  margin-top: $spacing-4xl;
  max-width: 684px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $spacing-sm;
  padding-bottom: $spacing-margin-20;
  border-bottom: 1px solid $iconBorderModalColor;
}

.container button {
  min-width: fit-content;
  padding-left: 14px;
  padding-right: 14px;
}

.notesLength {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: $tertiaryTextModalColor;
}

.container h4 {
  margin: 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  color: $secondaryTextModalColor;
}

.container > p {
  margin: 0;
  margin-top: 2px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: $tertiaryTextModalColor;
}

.readBtns {
  margin-top: $spacing-3xl;
  display: flex;
  gap: $spacing-3xl;
}

.textBtn {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  color: $tertiaryTextModalColor;
}

.editBtns {
  margin-top: $spacing-lg;
  display: flex;
  gap: $spacing-lg;
}
.btnClient{
  gap: $spacing-sm;
}
