@import "../../../styles/variables.module.scss";

.container {
  padding-top: $spacing-3xl;

  border-bottom: 1px solid $sidebarBorderColor;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.topNavigation {
  padding-top: $spacing-3xl;
  padding-left: $spacing-xl;
  padding-right: $spacing-xl;
}

.list {
  margin: 0;
  list-style: none;
  padding: 0;
}
