@import "../../../../styles/variables.module.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 1px;

  position: absolute;
  right: 0;
  top: 90%;
  z-index: 1000;

  border-radius: $radius-md;
  border: 1px solid $sidebarBorderColor;
  background: $primaryBackgroungColor;
  padding-top: $spacing-xs;
  padding-bottom: $spacing-sm;

  transform-origin: top right;
  transition: visibility 250ms ease, opacity 250ms ease;
  visibility: hidden;
  opacity: 0;

  &.visible {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

.icon {
  width: 16px;
  height: 16px;
  color: $sidebarSubFooterLinkColor;
}
