@import "../../../styles/variables.module.scss";

.container {
  padding-bottom: $spacing-3xl;
  border-bottom: 1px solid $sidebarBorderColor;
}

.icon {
  margin-bottom: $spacing-lg;
}

.title {
  margin: 0;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.22222;
  letter-spacing: -0.72px;
  color: $primaryTextModalColor;
}

.subtitle {
  margin: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.42857;
  color: $primaryTextModalColor;
}
