@import "../../../../styles/variables.module.scss";

.button {
  box-sizing: border-box;
  padding: $spacing-md $spacing-lg;
  display: flex;
  gap: $spacing-xs;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  border-radius: var(--radius-md, 8px);
  border: 1px solid $buttonWhiteBorderColor;
  background-color: $buttonWhiteBackgroundColor;

  color: $tertiaryHoverColor;
  transition: background-color 150ms ease-in, box-shadow 150ms ease-in,
    color 150ms ease-in;

  &:hover {
    border-radius: var(--radius-md, 8px);
    background-color: $buttonWhiteHoverColor;

    color: $fillLinkButtonHoverColor;
  }

  &:active {
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05),
      0px 0px 0px 4px rgba(152, 162, 179, 0.14);
  }

  &.bottom {
    padding: $spacing-lg $spacing-xl;
  }
}

.text {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.42857;
}
