@import "../../../styles/variables.module.scss";

.inputContainer {
  display: flex;
  gap: $spacing-md;
  justify-content: center;
}

.input {
  width: 64px;
  min-height: 64px;
  padding: $spacing-xxs $spacing-md;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: $buttonBackgroundModalColor;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.96px;

  border-radius: $radius-md;
  border: 2px solid $buttonBackgroundModalColor;
  background: $buttonWhiteBackgroundColor;

  transition: border-color 250ms ease-in, color 250ms ease-in;

  outline: none;

  &:focus {
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05),
      0px 0px 0px 4px rgba(158, 119, 237, 0.24);
  }

  &::placeholder {
    color: $codeInputPlaceholderTextColor;
  }
}
.error {
  border-color: $errorInputColor;
  color: $errorInputColor;
}

.empty {
  border-color: $codeInputPlaceholderTextColor;
}
