@import "../../../../styles/variables.module.scss";

.container {
  margin-top: $spacing-3xl;
  background: $orbWhiteColor;
  border: 1px solid $sidebarBorderColor;
  height: 44px;
  display: flex;
  border-radius: $spacing-lg;
  padding: $spacing-sm;
  position: relative;
  gap: $spacing-xs;

}

.activeTab {
  position: absolute;
  background: $primaryBackgroungColor;
  flex: 1;
  left: 6px;
  width: 32.4%;
  height: 44px;
  transition: 0.3s ease-in-out;
  border-radius: $radius-sm;
  background: $sessionPrimaryTextColor;
  box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.10), 0px 1px 2px 0px rgba(16, 24, 40, 0.06);
}
