@import "../../../../../styles/variables.module";

.list {
  padding: $spacing-lg;
  margin: 0;
  list-style: none;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  color: $sidebarSubFooterLinkColor;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.42857;
}
