@import "../../../../../../../styles/variables.module.scss";

.container {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid #EAECF0;

}

.container > * {
  display: flex;
  align-items: center;
  height: 40px;
}

.invoice {
  margin: 0;
  color: #101828;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  padding: 12px 24px;
  text-align: left;
  flex: 1;
}

.amount {

  margin: 0;
  padding: 12px 24px;
  width: 79px;
  color: #475467;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.date {
  text-wrap: nowrap;
  margin: 0;
  padding: 12px 24px;
  width: 79px;
  color: #475467;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.status {
  display: flex;
  padding: 12px 24px;
  width: 53px;
}

.file {
  cursor: pointer;
  padding: 12px 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.statusBox {
  display: flex;
  align-items: center;
  border-radius: 9999px;
  border: 1px solid #ABEFC6;
  padding: 2px 8px 2px 6px;
  gap: 2px;
}

.statusText {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}
