@import "../../../styles/variables.module.scss";

.bottomNavigation {
  padding-left: $spacing-xl;
  padding-right: $spacing-xl;
}

.list {
  margin: 0;
  list-style: none;
  padding: 0;
  padding-bottom: $spacing-3xl;
  border-bottom: 1px solid $sidebarBorderColor;
}
