@import "../../../styles/variables.module";

.container {
  margin-left: $sidebar-width;
  padding: $spacing-md $desktop-padding-horizontal;
}

.header {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.title {
  margin: 0;
  padding: 0;

  color: $primaryBrandTextColor;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.26667;
}

.side {
  display: flex;
  align-items: center;
  gap: $spacing-lg;
}
