@import "src/styles/variables.module";

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: $spacing-lg;
  padding-bottom: $spacing-lg;
  cursor: pointer;
}

.buttonSection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: $spacing-lg;
}
.button {
  width: 44px;
  height: 24px;
  background-color: $toggleButtonActiveBackgroundColor;
  border: none;
  cursor: pointer;
  border-radius: 999px;
  position: relative;
  transition: background-color 250ms ease-in, box-shadow 250ms ease-in;

  &:active {
    box-shadow: 0 0 0 4px rgba(158, 119, 237, 0.24);
  }

  &:hover {
    background-color: $toggleButtonHoverBackgroundColor;
  }

  &.disabled {
    background-color: lightgray
  }
}

.smallButton {
  width: 36px;
  height: 20px;
  background-color: $toggleButtonActiveBackgroundColor;
  border: none;
  cursor: pointer;
  border-radius: 999px;

  position: relative;

  transition: background-color 250ms ease-in, box-shadow 250ms ease-in;

  &:active {
    box-shadow: 0px 0px 0px 4px rgba(158, 119, 237, 0.24);
  }

  &:hover {
    background-color: $toggleButtonHoverBackgroundColor;
  }

  &.disabled {
    background-color: lightgray;
  }
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $toogleButtonDotColor;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 2px;

  transition: transform 250ms ease-in;

  &.disabled {
    transform: translateX(-20px) translateY(-50%);
  }
}

.smallDot {
  width: 16px;
  height: 16px;
  border-radius: 50%;

  background-color: $toogleButtonDotColor;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 2px;

  transition: transform 250ms ease-in;

  &.disabled {
    transform: translateX(-16px) translateY(-50%);
  }
}

.text {
  color: $sessionPrimaryTextColor;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.55556;
}

.smallText {
  color: var(--Colors-Text-text-disabled, #667085);
  /* Text sm/Regular */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857;
}

.chevronButton {
  border: none;
  padding: 0;
  background-color: inherit;
  cursor: pointer;
}

.icon {
  color: $sessionPrimaryTextColor;
  transform: rotate(180deg);

  transition: transform 250ms ease-in;

  &.isOpen {
    transform: rotate(0);
  }
}
