@import "../../../../styles/variables.module.scss";

.container {
  display: flex;
  flex-direction: column;
  max-width: 684px;
  gap: 16px;

}

.form {
  display: flex;
  gap: 10px;
  width: 100%;
  position: relative;
}

.form > button {
  width: 91px!important;
}
