@import "../../../../styles/variables.module.scss";

.list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.link {
  text-decoration: none;
  color: $loaderTextColor;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  padding-left: $spacing-lg;
  padding-right: $spacing-lg;

  transition: color 150ms ease-in;

  &:hover {
    color: $linkSessionHoverColor;
  }
}
