@import "../../../styles/variables.module.scss";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkContainer {
  margin-bottom: $spacing-3xl;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;
}

.inputContainer {
  width: 100%;
  margin-bottom: $spacing-2xl;
  display: flex;
  flex-direction: column;
  gap: $spacing-2xl;
}
