@import "../../../styles/variables.module.scss";

.backdrop {
  background-color: rgba(12, 17, 29, 0.7);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 600;
}
