@import "../../../styles/variables.module.scss";


.container {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.container p, h3 {
  margin: 0;
}

.container h3 {
  color: $primaryBrandTextColor;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.videoInfo {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: $spacing-lg;
}

.container p {
  color: $greetingsTextColor;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}


.container span {
  position: relative;
  margin-right: $spacing-margin-20;

}

.container span::before {
  content: " ";
  position: absolute;
  background: $headerButtonTextColor;
  height: 5px;
  width: 5px;
  right: -12px;
  top: 6px;
  border-radius: 50%;
}

.info {
  display: flex;
  align-items: center;
  margin-top: $spacing-sm;
}

.svg {
  width: 40px;
  height: 40px;
}

.img {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
}

.playBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $spacing-xs;
  background: $sidebarActiveBackgroundColor;
  border: 1px solid $sidebarBorderColor;
  z-index: 2;
  padding: $spacing-xs $spacing-lg;
  border-radius: $radius-2xl;

}

.playBtn p {
  color: $secondaryTextModalColor;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.content {
  overflow: hidden;
  border-radius: $radius-md;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 196px;
}
